# Service access
  NEST_PORT=3000
# Your postgres user
  PGUSER= postgres
# Your postgres password
  PGPASSWORD=root
# Your postgres host
  PGHOST=localhost
# Your postgres port
  PGPORT=5432
# Your postgres database name
  PGDATABASE=parking
# your JWT secret token
  JWT_SECRET=secret
# your Frontend url
 FRONTEND_URL=http://localhost:5173