# Service access
  NEST_PORT=3000
# Your postgres user
  PGUSER='postgres'
# Your postgres password
  PGPASSWORD='root'
# Your postgres host
  PGHOST='localhost'
# Your postgres port
  PGPORT=5432
# Your postgres database name
  PGDATABASE="parking"